/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f6;
}

/* ================= HEADER ================= */

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  height: 80px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

}

.images {
  height: 50px;
  cursor: pointer;
}

.options {
  display: flex;
  gap: 20px;
}

.but {
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  padding-bottom: 5px;
}

.but:hover {
  color: #ff3f6c;
  border-bottom: 2px solid #ff3f6c;
}

/* Search Bar */
.searchbar {
  width: 350px;
  height: 36px;
  padding: 0 12px;
  border-radius: 5px;
  border: 2px solid #ddd;
  background-color: #f5f5f6;
  outline: none;
}

.searchbar:focus {
  border-color: #ff3f6c;
}

/* Profile Section */
.profile-section {
  display: flex;
  gap: 20px;
}

.pro {
  border: none;
  background: none;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.pro:hover {
  color: #ff3f6c;
}



.middle {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px 60px;
  justify-content: center;
}



.card {
  background-color: rgb(255, 0, 255);
  width: 220px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  transition: 0.3s;
  text-align: center;
  margin-top: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.card img {
  border-radius: 6px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card h2 {
  font-size: 15px;
  margin: 4px 0;
  color: white;
}

.shop-btn {
  margin-top: 4px;
  padding: 6px 14px;
  background-color: #ff3f6c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 10px;
}

.shop-btn:hover {
  background-color: #e7335e;
}